* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

/*Header and navigation menu*/
header {
    color: white;
    width: 90%;
    height: 100vh;
     background: url("../imagens/web/s1_ft1.png");
     background-size:  cover;
     background-repeat: no-repeat;
     max-width: 1360px;
}


#nav {
    position: relative;
    display: flex;
}
#nav > img {
    height: 32px;
    margin-top: 15px;
}
#btn-mobile {
    display: none;
}
#nav > #menu {
    display: flex;
    margin-top: 15px;
    height: 30px;
    margin-right: 10px;
}
#nav > #menu > .menu-item {
    list-style: none;
    margin-left: 25px;  
    font-weight: bold;
    display: grid;
    justify-content: center;
}
#nav > #menu > .menu-item-home {
    list-style: none;
    margin-left: 25px;  
    font-weight: bold;
    display: grid;
    justify-content: center; 
    display: none;
}
.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
.menu-item-home a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
.menu-item:first-child {
    width: 0;
    margin-left: 0;
}
#nav > ul > li a:hover {
    color: rgb(182, 182, 182);
}
#texto-nav {
    text-align: center;
    margin-top: 70px;
        width: 100%;
    max-width: 1360px;
    height: calc(100vh - 150px);

}
#texto-nav #descricao {
    margin-top: 40px;
    width: 70%;
}
h1 {
    margin-top: 50px;
    font-size: 100px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.botao {
    margin-top: 10%;
}
#botao-contato {
    color: white;
    font-size: 15px;    
    position: relative;
    background-color: #1CD4E9;
    width: 270px;
    height: 55px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
/*Main section (corpo do projeto)*/
section {
    background: url(../imagens/web/bg.png);
    width: 90%;
    padding: 0;
    background-size: cover;
    max-width: 1360px;
}
h2 {
    font-size: 38px;
    margin-top: 0;
    margin-left: 85px;
    margin-bottom: 60px;
    padding-top: 95px;
}
#paragrafo {
    background-color: white ;
    margin-left:100px;
    margin-top: 50px;
    width: 700px;
    height: 350px;
    box-shadow: 0 0 0.5em rgb(131, 131, 131);
    border-style: none;
    padding: 20px; 
}
#paragrafo > p {
    color: black;
    margin-top: 10px;
    font-weight: 400;
}
#row {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 0;
    margin-top: 10px;
    justify-content: space-between;
}

.servico {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url(../imagens/web/s3_ft1.png);
    background-repeat: no-repeat; 
    background-size: contain;
    width: 340px;
    height: 440px; 
    margin-right: 0;
    margin-left: 0;
}
h3 {
    color: yellow;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.servico > p {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

.midia {
    text-align: center;
    color: white;
    background: url(../imagens/web/s3_ft2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 340px;
    height: 440px; 
    margin-right: 0px;
    margin-left: 0px;
}
.midia > p {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}
.tecnologica {
    text-align: center;
    color: white;
    background: url(../imagens/web/s3_ft3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 340px;
    height: 440px; 
    margin-right: 0px;
    margin-left: 0px;
}
.tecnologica > p {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

.row1 {
    display: flex;
    padding-right: 0;
    margin-top: 80px;  
    justify-content: space-evenly;
}

#diferenciais > h2 {
    margin-top: 90px;
    font-size: 42px;
}
.dif1 {
    background: url(../imagens/web/s4_ft1.png);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 248px;
    height: 415px; 
    margin-left: 10%;
    margin-top: 20px;
}

.dif1 > p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    font-weight: bold;
}
.dif2 {
    background: url(../imagens/web/s4_ft2.png);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 248px;
    height: 415px;
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 10%;

}
.dif2 > p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top:  0;
    font-weight: bold;
}
.dif3 {
    background:url(../imagens/web/s4_ft3.png);
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    width: 248px;
    height: 415px;
    padding: 0 0 0 0;
    margin: 0;
    margin-top: 20px;
    margin-right: 10%;
}
.dif3 > p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    font-weight: bold;
}
.dif1 > img, .dif2 > img, .dif3 > img {
    width: 100px;
    margin-top: 50px;
}
/*footer and contacts / form */

footer {
    background-color: yellow;
    height: 600px;
    padding-top: 50px;
    width: 90%;
    max-width: 1360px;
}

#rodape {
    background-color: #191919;
    height: 90%;
    display: flex;
}
form {
    margin-top: 30px;
    width: 370px;
    background-color: #818181;
    height: 450px;
}
.input-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}
.inputMsg {
    outline: none;
    border: none;
    width: 90%;
    height: 30px;
    padding: 5px;
}
input::placeholder {
    font-size: 18px;
    color: #DCDCDC; 
}
fieldset {
    width: auto;
    padding-top: 10px;
    border: none;
}
#submit {
    width: 90%;
    background-color: #1CD4E9;
    color: white;
    font-size: 18px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0;
}
.input-box:last-child {
    margin-top: 50px;
}
#submit:hover {
    background-color: #12adbe;
    cursor: pointer;
}

textarea {
    outline: none;
    border: none;
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    
}
textarea::placeholder {
    color: #DCDCDC;
    font-size: 18px;
}

.input{
    color: blue;
} 
#contatos {
    color: white;
    width: 40%;
}
.area-texto {
    margin-top: 10px;
}
.area-texto > p {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
#azul {
    color: #1CD4E9;
}

#amarelo {
   color: #EFE60B;
}
.logos {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
}
.logos > img {
    width: 370px;   
}
.contato {
    display: flex;
    width: 380px;
    margin-top: 10px;
}
.contato > p { 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.contato > .telefone {
    border-left: 1px solid white;
    padding-left: 20px;
}
.contato > .email {
    margin-left: -05px;
    margin-right: 35px;
}
.contato > .email, .contato > .telefone {
    display: flex;
}
.contato > .email img, .contato > .telefone img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.endereco {
    text-align: left;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.endereco > p{
    margin: 0;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 8px;
}
.endereco > img {
    width: 20px;
    margin-right: 8px;
    margin-left: -5px;
}
.logos {
    margin-top: 10px;   
}


/*-------------------MOBILE------------------*/
#cancel-menu {
    display: none;
}
.servico-lista-item {
    display: none;
}
#servico-seta {
    position: absolute;
    display: none;
}
#servico-lista {
    display: none;
}

#diferenciais-lista {
    display: none;
}
.diferenciais-lista-item {
    display: none;
}
#diferenciais-seta {
    display: none;
}


/* -------------- RESPONSIVIDADE ----------------------*/
@media (max-width: 1200px) {
    h3 {
        font-size: 1em;
    }
}

@media (max-width:1100px) {
    #texto-nav {
        width: 100%;
    }
    #paragrafo > p, li{
        font-size:14px;
    }
    h1 {
        font-size: 100px;
    }
    h3 {
        width: 90%;
    }
    .servico > p, .midia > p, .tecnologica > p {
        font-size: 1em;
    }
    #row , #servicos, .row1, #diferenciais{
        text-align: left;
        justify-content: center;
    }   
    .dif1 > p, .dif2 > p, .dif3 > p {
        font-size: 17px; 
        margin-top: 50px;   
    }
    .botao {
        margin-top: 10%;
    }
}

@media (max-width:1074px) {

    h1 {
        font-size: 80px;
    }
    h3 {
        font-size: 19px;
    }
    .botao {
        margin-top: 10%;
    }
    .servico > p, .tecnologica > p, .midia > p {
        font-size: 17px;
    }
    .row1, #row {
        flex-wrap: wrap;
        padding-right: 10px;
        padding-left: 10px;

    }
    .dif1 > p, .dif2 > p, .dif3 > p {
        font-size: 20px;    
    }
    .dif3 {
        margin-right: 0;
    }
    #nav #menu .menu-item a {
        font-size: 0.6rem;
    }
    #nav #menu .menu-item-home a {
        font-size: 0.6rem;
    }
}

@media (max-width: 905px) {
    h1 {
        font-size: 70px;
    }
}

@media (max-width: 950px) {
    #paragrafo {
        margin-left: 50px;
    }

    #contatos {
        margin-left: 10px;
    }
    #contatos .logos {
        display: block;
        margin: 0;
        width: 100%;
    }
    #contatos .logos img {
        width: 70%;       
        display: flex;
    }
    .contato > .email {
        margin-right: 0;
    }
    #contatos .contato {
        width: 100%;
    }
    #contatos .contato .email p, #contatos .contato .telefone p {
        margin-right: 0;
        font-size: 12px;
    }
    #nav #menu .menu-item a {
        font-size: 0.5rem;
    }
    #nav #menu .menu-item-home a {
        font-size: 0.5rem;
    }


}

@media (max-width: 895px) {
    #paragrafo {
        width: 550px;
        margin: 0;
    }
    .container-paragrafo {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .img-logo {
        height: 30px;
        margin-top: 10px;
    }
    #botao-contato {
        margin-top: 80px;
    }
    #row, .row1 {
        justify-content: center;
        display: grid;
    }
    .dif1, .dif2 {
        margin-left: 0;
    }

    #paragrafo {
        height: 400px;
    }

}

@media (max-width: 802px) {
    #contatos {
        width: 100vw;
        margin-left: 0;}
        #contatos .logos img {
            margin-top: 10px;
        }
    form {
        width: 100%;
    }
    form .input-box input, form .input-box textarea {
        width: 70%;
    }
    header {
        width: 100vw;
    }
    section{
        width: 100vw;
    }
    footer {
        background-color: yellow;
        height: 910px;
        padding-top: 50px;
        width: 100vw;
    }
    #rodape {
        display: grid;
    }
    h1 {
     font-size: 60px;   
    }
    #nav ul > li > a {
        font-size: 8px;
    }

    #contatos .contato {
        display: flex;
        justify-content: center;
    }
    #contatos .contato .email, #contatos .contato .telefone {
        margin: 0;
    }
    #contatos .contato .telefone {
        margin-left: 20px;
    }
}
/*-----------------RESPONSIVIDADE MOBILE----------------------------*/
@media (max-width: 744px) {
    #paragrafo {
        width: 400px;
        height: 550px;
        margin: 0;
    }
}
@media (max-height: 750px) {
    #botao-contato {
        margin-top: 30px;
    }
}
@media (max-height: 700px) {
    #botao-contato {
        margin-top: 0px;
    }
    .botao {
        margin-top: 10%;
    }
}

@media (max-height: 569px) {
    .botao {
        margin-top: 50px;
    }
}
@media (max-height: 515px) {
    .botao {
        margin-top: 10px;
    }
    #texto-nav {
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    #servico-seta {
        background: url(../imagens/mobile/seta.png);
        cursor: pointer;
        margin: 0;
        display: block;
        right: 70px;
        margin-top: -2px;
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        transition: 0.3s;
    }
    #nav.active #menu .menu-item-home {
        margin-top: 30px;
        display: grid;
    }
    #servico-seta.lista-servico {
        transform: rotate(180deg);
    }
    #servico-seta:hover {
        color: rgb(182, 182, 182);
    }
    
    #diferenciais-seta {
        background: url(../imagens/mobile/seta.png);
        cursor: pointer;
        margin: 0;
        display: block;
        right: 60px;
        margin-top: -2px;
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
        transition: 0.3s;
        position: absolute;
    }
    #diferenciais-seta.lista-diferenciais {
        transform: rotate(180deg);
    }
    #diferenciais-seta:hover {
        color: rgb(182, 182, 182);
    }
    #nav.active #menu { 
        padding-left: 50px;
    }
    #nav #menu .menu-item a {
        font-weight: 400;

    }
    #nav #menu .menu-item-home a {
        font-weight: 400;

    }
    #imagem {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    #imagem img {
        width: 200px;
        height: 50px;
    }
    #btn-mobile {
        display: block;
        
    }
    #nav #menu {
        display: block;
        position: absolute;
        width: 0px;
        top: 0px;
        background-color:  rgba(128, 128, 128, 0.541);
        backdrop-filter: blur(5px);
        height: auto;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-x: hidden;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-top: 10px;
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 20px;
    }
    #nav.active #menu {
        display: block;
        width: 200px;
        visibility: visible;
        overflow-x: auto;
        padding-left: -10px;
        height: auto;
    }
    
    #servico-lista {
        display: none;
        height: 0;
    }
    #servico-lista li {
        width: 100%;
        display: none;
        padding:0.5rem 0;
        font-size: 14px;
        color: white;
        margin-top: 2px;
        font-weight: 400;
    }
    #diferenciais-lista {
        display: none;
        height: 0;
    }
    #diferenciais-lista li {
        width: 100%;
        display: none;
        font-weight: 400;
        padding: 0.5rem 0;
        font-size: 14px;
        color: white;
        margin-top: 2px;
    }
    
    #nav #menu #servico-lista-container  #servico-seta.lista-servico + #servico-lista{
        display: grid;
        height: auto;
    }
    #nav.active li {
        display: block;
    }
    #nav.active #btn-mobile {
        visibility: hidden;
    }
    #nav #menu #diferenciais-lista-container #diferenciais-seta.lista-diferenciais + #diferenciais-lista{
        display: grid;
        height: auto;
    }
    #servico-seta.fecha-lista + #servico-lista {
        display: none;
    }

    ul > li{
        padding: 0.5rem 0;  
        color: white;
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.514);
        width: 75%;
        
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        position: absolute;
    }
    #cancel-menu {
        display: block;
        font-size: 30px;
        position: absolute;
        right: 15px;
        color: white;
        cursor: pointer;
        margin-top: -4px;
    }
    #hamburger {
        display: block;
        border-top: 4px solid white;
        width: 40px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 40px;
        height: 4px;
        background-color: white;
        margin-top: 5px;
    }
    #servico-container span {
        display: block;
        position: absolute;
        margin-left: 90px;
        margin-top: -2px;
        cursor: pointer;
    }
    #row, .row1{
        padding: 0;
        flex-wrap: wrap;
    }
    .servico {
        background: url(../imagens/mobile/s3\ ft1.png);
        width: 380px;
        height: 311px;
        background-size: contain;
        background-repeat: no-repeat;

    }
    .midia {
        background: url(../imagens/mobile/s3\ ft2.png);
        width: 380px;
        height: 311px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    .tecnologica {
        background: url(../imagens/mobile/s3\ ft3.png);
        width: 380px;
        height: 311px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    .dif1 {
        background: url(../imagens/mobile/s4_ft1.png);
        width: 380px;
        height: 379px;
        margin: 0;
    }
    .dif2 {
        padding: 0;
        margin: 0;
        background: url(../imagens/mobile/s4\ ft2.png);
        width: 380px;
        height: 379px;
    }
    .dif3 {
        margin: 0;
        background: url(../imagens/mobile/s4\ ft3.png);
        width: 380px;
        height: 379px;
    }
    .servico > p, .midia > p, .tecnologica > p{
        margin-top: 20px;
        font-size: 16px;
    }

     h3 {
         margin-top: 50px;
     }
    header {
        background: url(../imagens/web/s1_ft1.png);
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    section {
        width: 100vw;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #texto-nav > h1 {
        font-size: 50px;
    }
    #texto-nav {
        margin-top: 50px;
    }
    #texto-nav #descricao > p {
        line-height: 2;
    }
    #texto-nav {
        width: 100%;
    }
    #row .servico > p, #row .tecnologica > p, #row .midia > p {
        font-size: 15px;
    }
    #servicos, #diferenciais {
        text-align: left;
    }
    #servicos h2, #diferenciais h2, article h2 {
        margin-left: 0;
    }

    #nav.active > #menu > .menu-item > a {
        font-size: 0.8rem;
    }
    #nav.active > #menu > .menu-item-home > a {
        font-size: 0.8rem;
    }
    #nav #menu .menu-item {
        margin: 0;
        margin-top: 15px;
    }
    #nav #menu .menu-item-home {
        margin: 0;
        margin-top: 15px;
    }


}

@media (max-width:550px) {
    #texto-nav h1 {
        font-size: 40px;
    }
    header {

        background: url(../imagens/mobile/s1\ mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    section {
        background: none;
    }
     #row .servico > p, #row .tecnologica > p, #row .midia > p {
        font-size: 15px;
    }

    #row, .row1 {
        width: 100%;
        margin-left: 0px;
    }
    #servicos {
        justify-content: center;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 450px) {
    .contato {
        font-size: 10px;
    }
    #contatos .contato {

        justify-content: center;
    }
    #contatos .telefone {
        margin-left: 10px;
        margin: 0;
        padding-left: 10px;
    }
   .contato .email > p, .contato .telefone > p { 
        font-size: 11px;
    }
    #rodape #contatos .logo img {
        width: 70%;
        margin: 0;
    }
    #rodape .contatos {
        padding: 0;
        width: 100%;
    }
    #rodape .contatos .telefone p {
        margin: 0;
        padding: 0;
    }
    .dif1 {
        background-size: 100% 100%;
        width: 280px;
        height: 279px;
    }
    .dif2 {
        background-size: 100% 100%;
        width: 280px;
        height: 279px;
    }
    .dif3 {
        background-size: 100% 100%;
        width: 280px;
        height: 279px;
    }
    .servico,
    .midia,
    .tecnologica {
        background-size: 100% 100%;
        width: 330px;
        height: 261px;
    }
    h3 {
        margin-top: 10px;
    }
    .servico p,
    .midia p,
    .tecnologica p { 
        padding: 0;

    }
    form {
        width: 100vw;
    }

    .dif1 > p, .dif2 > p, .dif3 > p {
        margin-top: 0;
    }
    h3 {
        font-size: 18px;
    }

}

@media (max-width: 384px) {
    body {
        margin: 0;
    }
    #row {
        margin-right: 0;
    }
    header #texto-nav h1 {
        font-size: 30px;
    }
   h2, #diferenciais h2 {
        font-size: 20px;
    }
    #rodape {
        height: auto;
        width: auto;
        overflow: hidden;
    }
    .area-texto{
        overflow: hidden;
        height: auto;
        width: 100%;
    }
    .endereco p {
        font-size: 12px;
    }
    .endereco img {
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
    .servico h3, .midia h3, .tecnologica h3 {
        font-size: 15px;
        margin-top: 20px;
    }
    #rodape {
        width: 100%;
    }
    .container-paragrafo #paragrafo {
        width: 90vw;
        height: auto;
    }
    .servico, .midia, .tecnologica {
        width: 300px;
        height: 231px;
        margin-top: 30px;
    }
    #row .servico > p, #row .tecnologica > p, #row .midia > p {
        margin-top: 3px;
        font-size: 13px;
        line-height: 17px;
        font-weight: 500;
        margin-top: 10px;
        padding: 0;

    }
    .dif1, .dif2, .dif3 {
        width: 240px;
        height: 239px;
    }
    .endereco > p{
        width: auto;
    }
    .dif1 > img, .dif2 > img, .dif3 > img {
        margin-top: 15px;
    }
    .dif1 > p, .dif2 > p, .dif3 > p {
        font-size: 15px;
    }
}
@media (max-width: 320px) {
    #imagem img {
        width: 150px;
        height: 40px;
    }

}

/*-------------RESPONSIVIDADE HEIGHT-----------------*/
@media (max-height: 750px) {
    #botao-contato {
        margin-top: 30px;
    }
}
@media (max-height: 700px) {
    #botao-contato {
        margin-top: 0px;
    }
    .botao {
        margin-top: 100px;
    }
}

@media (max-height: 569px) {
    .botao {
        margin-top: 50px;
    }
    #texto-nav #descricao {
        width: 90%;
    }
}
@media (max-height: 515px) {
    #texto-nav {
        margin-top: 0;
    }
}

@media (max-height: 480px) {
    #texto-nav #descricao {
        margin-top: 20px;
    }
    #botao-contato {
        width: 250px;
        height: 45px;
        font-size: 13px;
    }
    #texto-nav #descricao > p {
        font-size: 14px;
    }
}
@media (max-height: 434px) {
    h1 {
        margin-top: 15px;
    }
    .botao {
        margin-top: 20px;
    }
}

@media(max-height: 350px) {
    #botao-contato {
        width: 240px;
        height: 35px;
    }
    .botao {
        margin-top: 10px;
    }
}

@media (max-height: 600px) and (max-width: 1360px) {
    h1 {
        font-size: 80px;
    }
}


@media (max-height: 540px) {
    h1 {
        font-size: 70px;
    }
}


@media (max-height: 350px) {
    h1 {
        font-size: 60px;
    }
}